############################
# UNITY 프로젝트 공통
############################

# Unity 라이브러리/캐시/빌드 결과
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.utmp/

# 메모리 캡쳐 / 레코딩
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset Store Tools (원하면 막기)
# [Aa]ssets/AssetStoreTools*

# JetBrains Rider 플러그인
[Aa]ssets/Plugins/Editor/JetBrains*

# Unity 크래시 리포트
sysinfo.txt

# Unity가 생성하는 디비/디버그 파일
*.pidb
*.pidb.meta
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
*.opendb
*.VC.db

# 빌드 산출물
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

# Crashlytics
crashlytics-build.properties

# Addressables 빌드 데이터
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*


############################
# VISUAL STUDIO / C# 공통
############################

# (Unity_Practice, Server 둘 다에 적용)
bin/
obj/

.vs/

*.user
*.suo
*.userosscache
*.userprefs

# 테스트 결과
TestResult*/
*.VisualState.xml

# 로그 / 임시파일
*.log
*.tmp

# Rider / ReSharper
.idea/
*.DotSettings.user

# 백업 파일
*~
*.bak
*.orig


############################
# 솔루션 / 프로젝트 파일
############################

# 기본적으로 전체 레포에서 .sln / .csproj 무시 (Unity 쪽)
*.sln
*.csproj
*.unityproj
*.booproj

!Server/*.sln
!Server/*.csproj
!Server/**/*.sln
!Server/**/*.csproj

# 기타 툴
ExportedObj/
.consulo/
